# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives***
 * List Popular Languages for Data Science
 * List Popular Libraries for Data Science
 * List Some of Data Science Tools
 * Express some aritmethic expressions

#### Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. Julia
4. Java
5. C / C++

#### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. SciPy
4. Statsmodels

| Data Science Tools     |
| ---------------------- |
| MySQL/PostgreSQL (Relational Database) |
| MongoDB/Apache Cassandra/Apache CouchDB (Not Only SQL ) |
| Hadoop HDFS (Cloud Based Database)|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
## This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
## This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
#### Basak Metiner